.wrap {
  width: 100%;
}

header {
  padding: 0 190px;
  font-size: 16px;
  font-weight: 500;
}

section {
  padding: 0 190px;
  margin-bottom: 200px;
}

.section_1,
.section_2,
.section_3,
.section_5 {
  padding: 0;
}

.title_wrap {
  text-align: center;
}

.title_wrap h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 30px;
}
.title_wrap p {
  font-size: 20px;
  font-weight: 400;
  color: #afafaf;
}

/* ---------------------------- */
/* <a href="#" class="more_btn view">
            VIEW MORE 
            <div class="more_line"></div>
          </a> */

.more_btn {
  display: inline-block;
}

.more_line {
  width: 0;
  height: 2px;
  background-color: currentColor;
  margin-top: 10px;
  transition: 0.4s;
}

.view:hover .more_line {
  width: 145px;
}

.discover:hover .more_line {
  width: 170px;
}

/* ----------------------------- */
@media (max-width: 1024px) {
  section {
    padding: 120px 50px 0;
  }

  header {
    padding: 0 40px;
  }
}

@media (max-width: 768px) {
  section {
    padding: 80px 20px 0;
  }

  header {
    padding: 0 16px;
  }
}
