.wrap {
  width: 100%;
}

header {
  padding: 0 190px;
  font-size: 16px;
  font-weight: 500;
}

section {
  padding: 0 190px;
  margin-bottom: 200px;
}

.section_1,
.section_2,
.section_3,
.section_5 {
  padding: 0;
}

.title_wrap {
  text-align: center;
}

.title_wrap h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 30px;
}
.title_wrap p {
  font-size: 20px;
  font-weight: 400;
  color: #afafaf;
}

.more_btn {
  display: inline-block;
}

.more_line {
  width: 0;
  height: 2px;
  background-color: currentColor;
  margin-top: 10px;
  transition: 0.4s;
}

.view:hover .more_line {
  width: 135px;
}

.discover:hover .more_line {
  width: 170px;
}

.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  border-radius: 50px;
  background: #d9d9d9;
  opacity: 1;
  transition: 0.3s;
}
/* ----------------------------- */
@media (max-width: 1024px) {
  section,
  header {
    padding: 0px 40px;
  }

  section {
    margin-bottom: 150px;
  }
}

@media (max-width: 768px) {
  section,
  header {
    padding: 0px 20px;
  }

  section {
    margin-bottom: 0p;
  }
}
