@import url(reset.css);
@import url(common.css);
.menu_wrap {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_wrap_1 {
  width: 747px;
  display: flex;
  justify-content: space-between;
}

.icon1 {
  margin-top: 1px;
}

.icon_wrap {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  display: none;
  font-size: 35px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  /* 메뉴 숨김 */
  .menu_wrap_1 {
    display: none;
  }

  /* 아이콘 숨김 */
  .icon_wrap {
    display: none;
  }

  /* 햄버거 표시 */
  .hamburger {
    display: block;
  }
}
/* --------------------------header------------------ */

.mainSwiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mainSwiper .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.mainSwiper .swiper-slide {
  width: 100%;
  height: 100%;
}

.mainSwiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section_1 {
  position: relative;
  width: 100%;
  height: 100vh;
}

.title {
  position: absolute;
  top: 65%;
  left: 10%;
  transform: translateY(-50%);
  z-index: 10;
}

.title h1 {
  font-size: 64px;
  font-weight: 700;
  color: white;
}

.title p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
  color: #e4e4e4;
  margin-top: 30px;
  margin-bottom: 50px;
}

.title a {
  width: 140px;
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.title a:hover .line1 {
  width: 145px;
}

@media (max-width: 1024px) {
  .title h1 {
    font-size: 40px;
  }

  .title p {
    font-size: 18px;
  }

  .title a {
    font-size: 16px;
  }

  .title a:hover .line1 {
    width: 120px;
  }
}

@media (max-width: 768px) {
  .title h1 {
    font-size: 28px;
  }

  .title p {
    font-size: 18px;
  }

  .title a {
    font-size: 14px;
  }

  .title a:hover .line1 {
    width: 110px;
  }
}

/* ------------------------------section1------------------------------- */

.text_wrap {
  text-align: center;
  margin-top: 10px;
}

.text_wrap h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.text_wrap p {
  font-size: 18px;
  color: #7c7c7c;
  margin-bottom: 40px;
}

.swiper-slide .con:hover .text_wrap h3 {
  color: #d4af37;
  transition: 0.2s;
}

.badge {
  width: 64px;
  height: 27px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #d4af37;
  border: 1px solid #d4af37;
  border-radius: 40px;
}

.sold_out {
  width: 98px;
  height: 27px;
  color: #999;
  border-color: #999;
}

.bestSwiper {
  position: relative;
  padding-bottom: 60px;
  cursor: pointer;
}

.bestSwiper .swiper-pagination {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.bestSwiper .swiper-pagination-bullet-active {
  width: 36px;
  background: #6d8c3c;
}

.mobile_best,
.mobile_btn {
  display: none;
}

@media screen and (max-width: 1024px) {
  .pc_best {
    display: none;
  }

  .mobile_btn {
    display: none;
  }

  .mobile_best {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 20px;
  }

  .mobile_best .con {
    width: calc(50% - 10px);
  }

  .mobile_best img {
    width: 100%;
    display: block;
  }

  .mobile_btn {
    display: flex;
    justify-content: center;
  }

  .mobile_btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #6d8c3c;
    transition: 0.3s;
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .mobile_best .con {
    width: 100%;
  }

  .mobile_btn a {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
  }
}

/* ----------------------best----------section2-------------------------------------- */

.left_wrap {
  width: 100%;
  display: flex;
}

.new_left {
  width: 50%;
}

.title_wrap h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

.title_wrap p {
  color: #aaa;
  font-size: 18px;
  margin-bottom: 80px;
}

.product {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.product_img {
  width: 60%;
  margin: 0 auto;
}

.product_img img {
  width: 100%;
  display: block;
}

.product h3 {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin: 15px 0;
}

.price_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.price_wrap p {
  font-size: 18px;
  color: #7c7c7c;
}

.right_wrap {
  width: 50%;
}

.right_wrap img {
  width: 100%;
  display: block;
}

.big_img {
  position: relative;
}

.big_text {
  width: 700px;
  line-height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 100px;
  font-weight: 700;
  text-align: center;
}

.newSwiper {
  padding-bottom: 50px;
}

.newSwiper .swiper-pagination {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.newSwiper .swiper-pagination-bullet-active {
  width: 36px;
  background: #6d8c3c;
}

.color_wrap {
  position: static;
  display: flex;
  gap: 10px;
}

.color {
  width: 30px;
  height: 30px;
}

.pick1 {
  background-color: #000;
}

.pick2 {
  border: 1px solid #e4e4e4;
}

.pick3 {
  background-color: #ff84c8;
}

.mobile_banner {
  display: none;
}

.mobile_banner img {
  width: 100%;
  display: block;
}

@media screen and (max-width: 1024px) {
  .left_wrap {
    gap: 40px;
    align-items: center;
  }

  .new_left,
  .right_wrap {
    width: calc(50% - 20px);
  }

  .big_text {
    font-size: 70px;
    line-height: 100px;
  }

  .title_wrap h2 {
    font-size: 40px;
  }

  .title_wrap p {
    font-size: 16px;
    margin-bottom: 50px;
  }

  .product_img {
    width: 75%;
  }

  .product h3 {
    font-size: 20px;
  }

  .price_wrap p {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .left_wrap {
    display: block;
  }

  .new_left {
    width: 100%;
  }

  .right_wrap {
    display: none;
  }

  .title_wrap {
    text-align: center;
  }

  .title_wrap h2 {
    font-size: 32px;
    margin-bottom: 15px;
  }

  .title_wrap p {
    font-size: 15px;
    margin-bottom: 40px;
  }

  .product_img {
    width: 65%;
  }

  .product h3 {
    font-size: 18px;
  }

  .price_wrap {
    gap: 15px;
  }

  .price_wrap p {
    font-size: 16px;
  }

  .color {
    width: 24px;
    height: 24px;
  }

  .mobile_banner {
    display: block;
    margin-top: 50px;
  }

  .mobileSwiper {
    padding-bottom: 40px;
  }

  .mobileSwiper .swiper-wrapper {
    transition-timing-function: linear;
  }

  .mobileSwiper .swiper-slide {
    width: 280px;
  }

  .mobileSwiper .swiper-pagination {
    bottom: 0;
  }

  .mobileSwiper .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    border-radius: 50px;
    background: #d9d9d9;
    opacity: 1;
    transition: 0.3s;
  }

  .mobileSwiper .swiper-pagination-bullet-active {
    width: 36px;
    background: #6d8c3c;
  }
}

/* ------------------------section3--------------------------- */

.collection_wrap {
  display: flex;
}

.collection_img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collection_text {
  position: absolute;
  text-align: center;
  color: white;
}

.collection_text h3 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 60px;
}

.collection_text p {
  font-size: 22px;
  line-height: 30px;
  font-weight: 300;
  opacity: 0.8;
  margin-bottom: 115px;
}

.collection_text a {
  font-size: 18px;
  font-weight: 500;
  width: 170px;
  color: white;
}

.collection_text a:hover .line1 {
  width: 170px;
}

.collection_right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.collection_con {
  margin-left: 24px;
  cursor: pointer;
}

.collection_con:nth-child(3),
.collection_con:nth-child(4) {
  margin-top: 50px;
}

.collection_con h3 {
  font-size: 26px;
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 15px;
}

.collection_con p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
  line-height: 22px;
  color: #999;
}

.collection_con a {
  color: #6d8c3c;
  font-size: 16px;
  font-weight: 600;
}

.collection_con:hover.collection_con a {
  color: #d4af37;
  transition: 0.2s;
}

@media screen and (max-width: 1024px) {
  .collection_left {
    display: none;
  }

  .collection_wrap {
    display: block;
  }

  .collection_right {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  .collection_con {
    width: calc(50% - 15px);
    margin-left: 0;
  }

  .collection_con:nth-child(3),
  .collection_con:nth-child(4) {
    margin-top: 50px;
  }

  .collection_con img {
    width: 100%;
    display: block;
  }

  .collection_con h3 {
    font-size: 24px;
  }

  .collection_con p {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .collection_right {
    display: block;
  }

  .collection_con {
    width: 100%;
    margin: 0 0 50px;
  }

  .collection_con:nth-child(3),
  .collection_con:nth-child(4) {
    margin-top: 0;
  }

  .collection_con img {
    width: 100%;
  }

  .collection_con h3 {
    font-size: 30px;
    margin-top: 15px;
  }

  .collection_con p {
    font-size: 18px;
    line-height: 22px;
  }

  .collection_con a {
    font-size: 14px;
  }
}

/* ------------------------section4------------------------- */

.section_5 img {
  width: 100%;
}

.banner_wrap {
  position: relative;
}

.banner_text {
  position: absolute;
  top: 25%;
  left: 190px;
}

.banner_text h2 {
  color: white;
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 30px;
}

.banner_text p {
  font-size: 22px;
  font-weight: 700;
  font-style: italic;
  color: #d4af37;
}

.banner_text a {
  color: white;
  font-size: 20px;
  margin-top: 100px;
}

@media screen and (max-width: 1024px) {
  .banner_text {
    top: 20%;
    left: 80px;
  }

  .banner_text h2 {
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 25px;
  }

  .banner_text p {
    font-size: 18px;
  }

  .banner_text a {
    font-size: 18px;
    margin-top: 50px;
  }

  .view:hover .more_line {
    width: 110px;
  }
}

@media screen and (max-width: 768px) {
  .banner_text {
    top: 15%;
    left: 30px;
  }

  .banner_text h2 {
    font-size: 26px;
    line-height: 1.3;
    margin-bottom: 15px;
  }

  .banner_text p {
    font-size: 12px;
    line-height: 18px;
  }

  .banner_text a {
    font-size: 13px;
    margin-top: 35px;
  }
}

/* ---------------------------section 5------------------ */
.con_wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.con_6 {
  position: relative;
  cursor: pointer;
}

.con_6 img {
  display: block;
  width: 485px;
  height: 500px;
}

.hover_box {
  width: 485px;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000de;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.4s;
  backdrop-filter: blur(8px);
}

.box_text {
  text-align: center;
}

.box_text h3 {
  font-size: 50px;
  color: white;
  font-weight: 700;
  margin-bottom: 30px;
}

.box_text p {
  font-size: 20px;
  font-weight: 400;
  color: #e4e4e4;
  margin-bottom: 30px;
}

.box_text span {
  display: inline-block;
  font-size: 96px;
  color: white;
  transition: 1s;
}

.con_6:hover .box_text span {
  transform: rotate(-360deg);
}

.con_6:hover .hover_box {
  opacity: 1;
}

.mobile_swiper_wrap {
  display: none;
}

@media screen and (max-width: 1024px) {
  .con_wrap {
    gap: 20px;
  }

  .con_6 {
    width: calc(50% - 10px);
  }

  .con_6 img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  .hover_box {
    width: 100%;
    height: 100%;
  }

  .box_text h3 {
    font-size: 36px;
  }

  .box_text p {
    font-size: 16px;
  }

  .box_text span {
    font-size: 70px;
  }
}

@media screen and (max-width: 768px) {
  .con_wrap {
    display: none;
  }

  .mobile_swiper_wrap {
    display: block;
  }

  .collaboRight,
  .collaboLeft {
    overflow: hidden;
    margin-bottom: 5px;
  }

  .brand_swiper img {
    height: 30%;
    width: 30%;
  }

  .collaboRight .swiper-wrapper,
  .collaboLeft .swiper-wrapper {
    transition-timing-function: linear;
  }

  .collaboRight .swiper-slide,
  .collaboLeft .swiper-slide {
    width: 75%;
  }

  .collaboRight img,
  .collaboLeft img {
    width: 100%;
    display: block;
  }
}

/* ---------------------section6-------------------- */

.shop_wrap {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.shop {
  position: relative;
  width: 500px;
  height: 750px;
  cursor: pointer;
}

.shop_box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000de;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.4s;
}

.shop_text {
  text-align: center;
}

.shop_text h3 {
  font-size: 70px;
  font-weight: 700;
  color: white;
  margin-bottom: 20px;
}

.shop_text p {
  font-size: 18px;
  font-weight: 300;
  color: #e4e4e4;
}

.shop:hover .shop_box {
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .shop_wrap {
    gap: 20px;
    margin-top: 60px;
  }

  .shop {
    width: calc(33.333% - 14px);
    height: auto;
  }

  .shop img {
    width: 100%;
    display: block;
  }

  .shop_box {
    width: 100%;
    height: 100%;
  }

  .shop_text h3 {
    font-size: 40px;
  }

  .shop_text p {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .shop_wrap {
    display: block;
    margin-top: 40px;
  }

  .shop {
    width: 100%;
    height: auto;
    margin-bottom: 25px;
  }

  .shop img {
    width: 100%;
    display: block;
  }

  .shop_text h3 {
    font-size: 50px;
  }

  .shop_text p {
    font-size: 24px;
    line-height: 30px;
  }

  .shop_box {
    opacity: 0;
  }
}

/* --------------------------------shop */

footer {
  padding: 60px 190px;
  background-color: #000;
  color: white;
}

.footer_wrap {
  display: flex;
  gap: 200px;
}

.left_foot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer_text {
  text-align: center;
  width: 250px;
}

.footer_text h3 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 25px;
}

.footer_text p {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 400;
}

.right_foot {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu h4 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 25px;
  cursor: pointer;
}

.menu a {
  color: white;
}

.menu p {
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
}

.sns {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.sns2 {
  display: none;
}

.sns a {
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.copy {
  text-align: center;
}

@media screen and (max-width: 1024px) {
  footer {
    padding: 50px 60px;
  }

  .footer_wrap {
    gap: 100px;
  }

  .footer_text {
    width: 200px;
  }

  .footer_text h3 {
    font-size: 24px;
  }

  .footer_text p {
    font-size: 16px;
  }

  .menu h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .menu p {
    font-size: 16px;
    line-height: 30px;
  }

  .copy {
    margin-top: 40px;
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  footer {
    padding: 25px 25px;
  }

  .footer_wrap {
    gap: 20px;
  }

  .left_foot {
    margin: 0;
  }

  .left_foot img {
    width: 45px;
  }

  .footer_text {
    display: none;
  }

  .right_foot {
    display: flex;
    gap: 25px;
  }

  .menu h4 {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
  }

  .menu p {
    display: none;
  }

  .mobile_footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .copy {
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 14px;
  }

  .sns1 {
    display: none;
  }

  .sns2 {
    display: block;
    display: flex;
    gap: 18px;
    flex-direction: row;
  }

  .sns i {
    font-size: 16px;
  }
}
